api/src/route/service/module/utils/__pycache__
api/__pycache__
holo_archives.json
api/src/database/
api/src/route/service/__pycache__
api/src/route/service/module/__pycache__
api/src/route/__pycache__
api/archive
api/option/ssbu_icons/base
api/option/ssbu_icons/char
